article {
      left:40%;
      right: 25%;
      position: absolute;
      margin-top: 150px;
      margin-left:-254px;
}

article a {
      color: #000000;
      font-size: 23px;
      padding: 4px;
}

p a {
    font-size: 16px;
    color: #666666;
}

article li {
    margin-top: 15px;
}

pre {
  font-size: 16px;
  background-color: #666666
}

code {
  font-family: 'Montserrat', sans-serif;
}


