img {
    position: relative;
    top: 75px;
    left: 75px;
    height: 196px;
    width: 200px;
}


.img-circle {
    border-radius: 50%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}
nav ul {
    color: #666666;
    font-size: 15px;
    text-decoration: none;
    left:50%;
    position: absolute;
    margin-top: 250px;
    margin-left:-340px;
}

nav li {
      display: inline;
      padding: 20px;
}
a {
  color: #666666;
  text-decoration: none;
}
article {
      left:48%;
      right: 50%;
      position: absolute;
      margin-top: 150px;
      margin-left:-254px;
}
aside {
      float: right;
      margin-top: 360px;
      margin-right: 115px;
}

div {
  display: block;
  margin-top: 50px;
}
aside li {
  display: block;
  padding: 5px
}
footer {
      position: absolute;
      bottom: -1375px;
      left: 45%;
      right: 40%;
      margin-top: 300px;
}

form {
    left:48%;
    right: 50%;
    position: absolute;
    margin-top: 150px;
    margin-left:-254px;
}

aside img {
  left: 5%;
  top: 3px;
  padding: 2px;
  width: 55px;
  height: 55px;
  border: 0;
}
